---
import { Button } from '../solid/Button';

interface Props {
  title: string;
  year: string;
  pills: Array<{
    label: string;
    value: string;
  }>;
  images: Array<string>;
}

const { title, year, pills, images } = Astro.props;
---

<article>
  <header class="flex gap-2 items-center">
    <Button client:load href="/works" variant="text" size="sm">
      Works
    </Button>
    &gt;
    <h2 class="text-xl">{title}</h2>
    <time class="self-start dark:bg-gray-600 bg-gray-200 text-xs px-1 font-bold rounded-sm">
      {year}
    </time>
  </header>
  
  <div class="my-4">
    <slot />
  </div>
  
  <dl class="grid grid-cols-[96px_auto] gap-4 py-4">
    {pills.map((pill) => (
      <>
        <dt class="bg-green-200 text-green-900 dark:bg-opacity-10 dark:bg-green-500 dark:text-green-200 rounded uppercase text-xs px-1 font-bold flex justify-center items-center">
          {pill.label}
        </dt>
        <dd>
          {pill.value.includes('http') ? (
            <Button
              client:load
              variant="text"
              size="sm"
              href={pill.value}
              target="_blank"
            >
              {pill.value}
            </Button>
          ) : (
            pill.value
          )}
        </dd>
      </>
    ))}
  </dl>
  
  <ul>
    {images.map((url) => (
      <li>
        <img
          class="mb-4 rounded-md w-full max-w-[500px]"
          src={url}
          alt={`Example image for ${title}`}
        />
      </li>
    ))}
  </ul>
</article>